/* images {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }

.tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .5rem;
    margin-left: .5em;    
    width: max-content;
  }
  .tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #67a1ee, #68cbec);
    color: #fafafa;
  }
  
.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
  }
  .user {
    display: flex;
    gap: .5rem;
  }
  .user__image {       
    border-radius: 50%;
  }
  .user__info > small {
    color: #666;
  } */